@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Biennale";
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/biennale.woff") format("woff");
}

* {
  box-sizing: border-box;
  font-family: "Biennale", sans-serif;
}

.custom-linear-gradient {
  background: linear-gradient(
    201.64deg,
    rgba(44, 46, 89, 0.757) 14.2%,
    #747af5 98.81%
  );
}

.brand-linear-gradient {
  background: linear-gradient(180deg, rgba(32, 88, 225, 0) 0%, #2058e1 100%);
}

.light-linear-gradient {
  background: linear-gradient(
    0deg,
    rgba(20, 29, 47, 0.25),
    rgba(20, 29, 47, 0.25)
  );
}

.card-gradient {
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(52, 64, 84, 0.51) 0%,
    rgba(52, 64, 84, 0) 100%
  );

  background: linear-gradient(
    115.75deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slider-gradient {
  background: linear-gradient(
    91.44deg,
    #314189 8.63%,
    rgba(5, 25, 121, 0.918) 97.84%
  );
}
