@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Biennale";
  src: url("../../public/assets/fonts/Biennale.ttf");
}

*,
body {
  box-sizing: border-box;
  font-family: "Biennale";
}
